<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Congo</title>

  <link rel="stylesheet" href="../stylesheets/congo.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="../images/congotransparentw.png" width="112" height="100">
      </a>
    </div>
  </nav>
  <!-- sidebar starts -->
  <div class="sidebar">
    <div class="sidebarOption active">
      <span class="material-icons"> bungalow </span>
      <a href="/" style="text-decoration: none;">Home</a>
    </div>

    <div class="sidebarOption">
      <span class="material-icons"> mood </span>
      <a href="/dashboard" style="text-decoration: none;">Profile</a>
    </div>

    <div class="sidebarOption">
            <select class="dropdown" name="selectCategories" id="categories">
                <option>Forums</option>
                <option value="music">Music</option>
                <option value="movies">Movies</option>
                <option value="tv">TV</option>
                <option value="video-games">Video Games</option>
                <option value="books">Books</option>
                <option value="cooking">Cooking</option>
                <option value="gardening">Gardening</option>
                <option value="interior-design">Interior Design</option>
                <option value="fashion">Fashion</option>
                <option value="travel">Travel/Vacation</option>
                <option value="restaurants">Restaurants</option>
                <option value="social">Social</option>
                {{#each categories as |category|}}
                <option value='{{category.category_name}}'>{{ category.category_name }}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div>
      <ul>
      {{#each categories as |category|}}
      <li><a href="/api/posts/categories/{{category.category_id}}" style="text-decoration: none;" value='{{category.category_name}}'>{{ category.category_name }}</a></li>
      {{/each}}
      </ul>
    </div>
  </div>
  <!-- sidebar ends -->

  {{{body}}}
  <!-- widgets starts -->
  <div class="widgets">
    <div class="widgets__profile">
      <img class="user__avatar" src="img/placeholder.png" alt="placeholder" />
      <a href="/login">Login</a>
    </div>

    <div class="widgets__widgetContainer">
      <h2>Popular Forums</h2>
      <h4>Politics</h4>
      <h4>Movies</h4>
      <h4>Music</h4>
      <h4>Fitness</h4>
    </div>
</body>

</html>
